html{
  min-width: 450px;
  font-family: 'Verdana', sans-serif !important;
}

h1{
  color: #fff;
  margin: 1.2rem;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.8rem;
}

.infographics-wrap{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background-color: #59a597;*/
  background-color: #1f5780;
}

.c{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transition : -webkit-filter 200ms ease-in;
  /*filter: saturate(1.5) brightness(0.9);*/
}

.c1{
  width: 93px;
  transform: translate(-112px, 100px) rotate(-26deg);
}

.c2{
  width: 101px;
  transform: translate(-82px, 39px) rotate(-26deg);
}

.c3{
  width: 100px;
  transform: translate(-41px, -22px) rotate(-26deg);
}

.c4{
  width: 108px;
  transform: translate(-12px, -89px) rotate(-26deg);
}

.c5{
  width: 98px;
  transform: translate(26px, -145px) rotate(-26deg);
}

.c6{
  width: 90px;
  transform: translate(36px, -298px) rotate(-26deg);
}

.c7{
  width: 110px;
  transform: translate(-118px, -222px) rotate(-26deg);
}

.c8{
  width: 60px;
  transform: translate(-109px, -175px) rotate(-26deg);
}

.c9{
  width: 60px;
  transform: translate(-142px, -34px) rotate(-26deg);
}

.c10{
  width: 160px;
  transform: translate(-270px, 132px) rotate(-26deg);
}

.c11{
  width: 90px;
  transform: translate(-51px, 137px) rotate(-26deg);
}

.c12{
  width: 90px;
  transform: translate(50px, 59px) rotate(-26deg);
}

.c13{
  width: 170px;
  transform: translate(56px, -3px) rotate(-26deg);
}

.c14{
  width: 97px;
  transform: translate(116px, -87px) rotate(-26deg);
}

.c15{
  width: 94px;
  transform: translate(104px, -173px) rotate(-26deg);
}

.ic{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  cursor: pointer;
}

.ic-therm {
  width: 19px;
  transform: translate(-78px, 135px);
}

.ic-hum{
  width: 30px;
  transform: translate(-48px, 76px);
}

.ic-ph{
  width: 30px;
  transform: translate(-8px, 9px) rotate(-16deg);
}

.ic-sal{
  width: 36px;
  transform: translate(25px, -55px);
}

.ic-oxi{
  width: 57px;
  transform: translate(49px, -128px) rotate(-16deg);
}


.ic-therm:hover + .c1, .ic-hum:hover + .c2, .ic-ph:hover + .c3, .ic-sal:hover + .c4, .ic-oxi:hover + .c5{
  filter: saturate(0.75) brightness(1.2);
}

/****************** MODAL *******************/

.modal{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background-color: #448b7dcf;*/
  background-color: #1f5780;
  z-index: 100;
  opacity: 0;
  transition: all 200ms ease-in;
}

.modal-box{
  display: block;
  position: absolute;
  top: 150%;
  left: 50%;
  width: 70%;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 14px #344a6acf;
  transition: all 200ms ease-in;
}

.modal-close{
  color: #fff;
  margin-top: -26px;
  float: right;
  font-family: 'Verdana', sans-serif;
  cursor: pointer;
}

.modal-close img{
  vertical-align: bottom;
}

.modal-close span {
  font-size: 20px;
  line-height: 26px;
}

.modal-visual{
  position: absolute;
  display: block;
  height: 30%;
  width: 100%;
  /*background-color: #236281;*/
  background-color: #20b08e;
}

.modal-contents{
  position: absolute;
  display: block;
  box-sizing: border-box;
  height: 70%;
  width: 100%;
  top: 30%;
  padding: 2rem;
}

.modal-title h2{
  margin-top: 0;
  font-size: 1.1rem;
}

.modal-contents .modal-content{
  font-size: 0.8rem;
  overflow: hidden;
}

.modal-visual-img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.d-block{
  display: block;
}

.inn{
  opacity: 1;
}

.inn .modal-box{
  top: 50%;
}

.min-opacity{
  opacity: 0.2;
}
