@media (min-width: 850px) {

  h1{
    margin: 2.4rem;
    font-size: 2.6rem;
  }
  
  .c1{
    width: 102px;
    transform: translate(-166px, -7px);
  }

  .c2{
    width: 111px;
    transform: translate(-111px, -52px);
  }

  .c3{
    width: 110px;
    transform: translate(-41px, -92px);
  }

  .c4{
    width: 120px;
    transform: translate(18px, -143px);
  }

  .c5{
    width: 108px;
    transform: translate(86px, -182px);
  }

  .c6{
    width: 80px;
    transform: translate(162px, -304px);
  }

  .c7{
    width: 90px;
    transform: translate(-12px, -280px);
  }

  .c8{
    width: 55px;
    transform: translate(-42px, -257px);
  }

  .c9{
    width: 60px;
    transform: translate(-139px, -148px);
  }

  .c10{
    width: 160px;
    transform: translate(-327px, -28px);
  }

  .c11{
    width: 90px;
    transform: translate(-123px, 47px);
  }

  .c12{
    width: 90px;
    transform: translate(5px, 11px);
  }

  .c13{
    width: 170px;
    transform: translate(51px, -22px);
  }

  .c14{
    width: 125px;
    transform: translate(153px, -91px);
  }

  .c15{
    width: 101px;
    transform: translate(185px, -166px);
  }

  .ic-therm {
    width: 23px;
    transform: translate(-134px, 26px);
  }

  .ic-hum{
    width: 33px;
    transform: translate(-74px, -14px);
  }

  .ic-ph{
    width: 33px;
    transform: translate(-10px, -61px) rotate(-16deg);
  }

  .ic-sal{
    width: 40px;
    transform: translate(54px, -106px);
  }

  .ic-oxi{
    width: 67px;
    transform: translate(112px, -162px);
  }


  .modal-box {
    width: 70%;
    height: 40%;
    min-height: 350px;
  }

  .modal-visual{
    height: 100%;
    width: 40%;
  }

  .modal-contents{
    height: 100%;
    width: 60%;
    top: 0;
    left: 40%;
  }

  .modal-visual-img {
    height: auto;
  }

}
